#stats {
    margin: 10px;
}

table {
    border-collapse: collapse;
    margin: auto;
    width: 50%;
}

table, th, td {
    border: 1px solid white;
    padding: 7px;
    color: white;
}

tr {
    background-color: #8bcbd8;
}

#update-time {
    color: white;
    font-style: italic;
    margin-left: 10px;
}

#state-title {
    text-align: center;
}

#update-time {
    text-align: center;
    padding-top: 5px;
}

