#stats {
    margin: 10px;
}

table {
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid white;
    padding: 7px;
    color: white;
}

tr {
    background-color: #94d9e7;
}

#update-time {
    color: white;
    font-style: italic;
    margin-left: 10px;
}