/* CSS Reset (gets rid of default styling)
   http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*=========== START ============*/
html {

}
h1, h2, h3, h4, h5 {
  color: black;
  font-weight: bold;
    font-family: Candara;
}
h1 {
  color: white;
  font-size: 35px;
  text-shadow: 1px 1px 5px #202020;
}
h2 {
  margin: 0px 0px 10px 0px;
  font-weight: bold;
  font-size: 30px;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  padding: 20px;
  /* background-color: #0466D2; */
  /* green: #38ba61, blue: #044DE2 */
  background-image: linear-gradient(to right, #38ba61 , #4B90F7);
}
main {
  padding: 40px;
  background: #f2f2f2;
  max-width: 1300px;
  margin: auto;
	left: 10;
}
p {
  margin: 0px 0px 10px 0px;
}
label {
  font-size: 14px;
}
input, textarea {
  margin: 10px 0px 10px 0px;
  padding: 16px 16px;
  font-size: 16px;
}
input[type=number], textarea {
  background-color: #f2f2f2;
  border: none;
  min-width: 200px;
}
